.DS_Store
*.iml
*.ipr
*.iws
.idea/
.gradle/
build/
classes/
build.properties
es_gulp_version.json
package-lock.json
node_modules/
bower_components/
core-admin/src/main/webapp/resources/esl/**/*
src/main/resources/static/**/*
build_spec/
out/
.idea_modules/
/.nb-gradle/
